@font-face {
    font-family: OpenSans-Light;
    src: url(font/OpenSans-Light.ttf);
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: OpenSans-Light;
	background-image: url('img/index-bg.png');
	overflow: hidden;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

main#index {
	width: 300px;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

main#index img {
	width: 137px;
	margin-bottom: 30px;
}

main#index a {

}

main#index .card {
	border: 0;
	border-radius: 7px;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 10px;
}

main#index .card form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main#index .card form input,
main#index .card button {
	padding: 10px;
}

main#index .card form input {
	    width: 250px;
	margin-bottom: 10px;
	border-radius: 0;
	box-shadow: none;
	border: 1px solid rgb(224, 224, 224);
	/*width: 200px;*/
}

main#index .card .registration {
	display: none;
}

main#index .card button {
  background-color: rgb(68, 182, 245);
  border: 0;
  color: #fff;
}

main#index .button {
	cursor: pointer;
}

footer {
	position: absolute;
	bottom: 0;
	margin-top: 30px;
	height: 60px;
	width: 100%;
}

footer .center {
	width: 80%;
	margin: 0 auto;
}

footer p {
	float: left;
}

footer .page {
	float: right;
}

footer .page  a {
	margin-left: 10px;
	color: #000;
}

/*@media (max-width: 710px) {


	main#index .card form input,
	main#index .card button,
	main#index .button {
		font-size: 42px;
	}

	main#index img {
		width: 350px;
	}

	main#index .card form input {
		width: 288px;
		font-size: 42px;
		padding: 15px 26px;	
	}

	main#index .card button {
		padding: 30px;
	}
}*/